& {
  display: flex;
  flex: 4 4 auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.summary-leaderboard-container {
  width: 100%;
  min-width: 200px;
  max-width: 750px;
  margin-bottom: 50px;
}

.leaderboard-header {
  text-align: center;
  margin-bottom: 40px;
}

.search-container {
  min-width: 200px;
  max-width: 750px;
}
