frontend/node_modules/
frontend/bower_components/
frontend/bower_compoents/
backend/node_modules/
backend/config.js
frontend/tmp
frontend/dist
backend/frontend/node_modules
backend/frontend/bower_components
