frontend/node_modules/
frontend/bower_components/
frontend/bower_compoents/
backend/node_modules/
backend/config.js
frontend/tmp
frontend/dist
backend/frontend/node_modules
backend/frontend/bower_components
backend/frontend/tmp/
backend/frontend/dist/
backend/frontend/dist
backend/frontend/dist/assets
frontend.js
frontend.map
tests.js
tests.map
vendor.js
index.html
frontend.css
frontend.css.map
dist
