@import "bootstrap";
@import "pod-styles";

html {
  height: 100%;
}

body {
  background-color: #2F4676;
  color: #d9d9d9;
  height: 100%;
}

a {
  color: #e9e9e9;
}

a:link, a:visited, a:hover, a:active {
  color: #C9554F;
}

.navbar {
  border-radius: 0px;
  margin-bottom: 0px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #333;
  background-color: transparent;
}

.content-container {
  background-color: #3D5587;
  box-shadow: 0px 0px 3px rgba(15, 15, 15, 0.5);
  padding: 10px;
  display: flex;
  flex: 1 1;
  flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 10px;
}

.faq-text {
  font-size: 18px;
  color: #bbb;
}

// Targets the application wrapper
body > .ember-view {
  display: flex;
  flex-flow: column;
  min-height: 100%;
}

footer {
  display: flex;
  flex: 0 1 auto;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.legal-text {
  padding: 10px;
  font-size: 10px;
  color: #3E9C4A;
}

// CSS loading indicator
.loader-container {
  margin-top: 30px;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

