<div class="container">

  <div style="
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    background-color: #3D5587;
    border: 1px solid #f8f8f8;
    color: #f7f7f7">
    <div style="display: flex; flex-direction: column; text-align: center;">
      <img src='http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/Warwick.png'
        style="width: 80px; height: 80px;">
      <div style="margin-top: 5px; color: #f7f7f7;">Warwick</div>
    </div>
    <div style="display: flex; flex-direction: column; align: center; text-align: center; margin-left: 40px; margin-right: 40px;">
      <h1>Score</h1>
      <div style='width: 100%; height: 0px; border-top: 1px solid #f8f8f8;'></div>
      <h1 style="color: #C9554F">529,782</h1>
    </div>
    <div style="display: flex; flex-direction: column; margin-left: 10px; margin-right: 10px; flex: 2 2; align-items: center;">
      <div style="font-size: 20px; margin-top: 5px; margin-bottom: 5px;">Warwick Rank: 572,152</div>
      <div style="font-size: 20px; margin-top: 5px; margin-bottom: 5px;">Top Warwick: 1,329,925</div>
    </div>
    <div style="display: flex; flex-direction: column; margin-left: 10px; margin-right: 10px; flex: 2 2; align-items: center;">
      <div style="font-size: 20px; margin-top: 5px; margin-bottom: 5px;">Overall Rank: 1032 / 57.2M</div>
      <div style="font-size: 20px; margin-top: 5px; margin-bottom: 5px;">Top Overall: 1032 / 57.2M</div>
    </div>
  </div>

  <div style="
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    background-color: #3D5587;
    border: 1px solid #f8f8f8;
    color: #f7f7f7">
    <div style="display: flex; flex-direction: column; text-align: center;">
      <img src='http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/Yasuo.png'
        style="width: 80px; height: 80px;">
      <div style="margin-top: 5px; color: #f7f7f7;">Yasuo</div>
    </div>
    <div style="display: flex; flex-direction: column; align: center; text-align: center; margin-left: 40px; margin-right: 40px;">
      <h1>Score</h1>
      <div style='width: 100%; height: 0px; border-top: 1px solid #f8f8f8;'></div>
      <h1 style="color: #C9554F">529,782</h1>
    </div>
    <div style="display: flex; flex-direction: column; margin-left: 10px; margin-right: 10px; flex: 2 2; align-items: center;">
      <div style="font-size: 20px; margin-top: 5px; margin-bottom: 5px;">Warwick Rank: 572,152</div>
      <div style="font-size: 20px; margin-top: 5px; margin-bottom: 5px;">Top Warwick: 1,329,925</div>
    </div>
    <div style="display: flex; flex-direction: column; margin-left: 10px; margin-right: 10px; flex: 2 2; align-items: center;">
      <div style="font-size: 20px; margin-top: 5px; margin-bottom: 5px;">Overall Rank: 1032 / 57.2M</div>
      <div style="font-size: 20px; margin-top: 5px; margin-bottom: 5px;">Top Overall: 1032 / 57.2M</div>
    </div>
  </div>

  <div style="
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    background-color: #3D5587;
    border: 1px solid #f8f8f8;
    color: #f7f7f7">
    <div style="display: flex; flex-direction: column; text-align: center;">
      <img src='http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/Warwick.png'
        style="width: 80px; height: 80px;">
      <div style="margin-top: 5px; color: #f7f7f7;">Warwick</div>
    </div>
    <div style="display: flex; flex-direction: column; align: center; text-align: center; margin-left: 40px; margin-right: 40px;">
      <h1>Score</h1>
      <div style='width: 100%; height: 0px; border-top: 1px solid #f8f8f8;'></div>
      <h1 style="color: #C9554F">529,782</h1>
    </div>
    <div style="display: flex; flex-direction: column; margin-left: 10px; margin-right: 10px; flex: 2 2; align-items: center;">
      <div style="font-size: 20px; margin-top: 5px; margin-bottom: 5px;">Warwick Rank: 572,152</div>
      <div style="font-size: 20px; margin-top: 5px; margin-bottom: 5px;">Top Warwick: 1,329,925</div>
    </div>
    <div style="display: flex; flex-direction: column; margin-left: 10px; margin-right: 10px; flex: 2 2; align-items: center;">
      <div style="font-size: 20px; margin-top: 5px; margin-bottom: 5px;">Overall Rank: 1032 / 57.2M</div>
      <div style="font-size: 20px; margin-top: 5px; margin-bottom: 5px;">Top Overall: 1032 / 57.2M</div>
    </div>
  </div>

  <div style="
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    background-color: #3D5587;
    border: 1px solid #f8f8f8;
    color: #f7f7f7">
    <div style="display: flex; flex-direction: column; text-align: center;">
      <img src='http://ddragon.leagueoflegends.com/cdn/6.8.1/img/champion/Yasuo.png'
        style="width: 80px; height: 80px;">
      <div style="margin-top: 5px; color: #f7f7f7;">Yasuo</div>
    </div>
    <div style="display: flex; flex-direction: column; align: center; text-align: center; margin-left: 40px; margin-right: 40px;">
      <h1>Score</h1>
      <div style='width: 100%; height: 0px; border-top: 1px solid #f8f8f8;'></div>
      <h1 style="color: #C9554F">529,782</h1>
    </div>
    <div style="display: flex; flex-direction: column; margin-left: 10px; margin-right: 10px; flex: 2 2; align-items: center;">
      <div style="font-size: 20px; margin-top: 5px; margin-bottom: 5px;">Warwick Rank: 572,152</div>
      <div style="font-size: 20px; margin-top: 5px; margin-bottom: 5px;">Top Warwick: 1,329,925</div>
    </div>
    <div style="display: flex; flex-direction: column; margin-left: 10px; margin-right: 10px; flex: 2 2; align-items: center;">
      <div style="font-size: 20px; margin-top: 5px; margin-bottom: 5px;">Overall Rank: 1032 / 57.2M</div>
      <div style="font-size: 20px; margin-top: 5px; margin-bottom: 5px;">Top Overall: 1032 / 57.2M</div>
    </div>
  </div>


</div>
