<div class="container content-container" style="padding-left: 40px; padding-right: 40px;">
 <h1 style="text-align: center; margin-top: 20px;">Frequently Asked Questions</h1>
 <h2>How does it all work</h2>
 <p class="faq-text">Masteryi works by using a node based server to scan for every player in league of legends. After a user there champion mastery data is fetched. All champions with at least rank 5 mastery are saved to our internal postgres database. This process took about 3 weeks to scan 320 million possible id's. </p>
 <h2>What does masteryi offer over other champion mastery sites</h2>
 <p class="faq-text">I believe that masteryi is the most comprehensive data set on champion mastery across all non chinese LoL servers. This enables us to provide 100% accurate statistics on the top champion mastery for all champions. </p>
 <h2>How can i support masteryi</h2>
 <p class="faq-text">Masteryi is and always will be free, but it costs money to host our large postgres database which contains over 50 million rows. You can help out by sharing masteryi with your friends and white listing us from your adblocker. </p>
 <h2>Is masteryi open source?</h2>
 <p class="faq-text">Masteryi is 100% opensource, you can view the full source code for the website and the backend server on <a href="https://github.com/konk353535/masteryi">github</a></p>
</div>
