<div class="container content-container" style="padding-left: 40px; padding-right: 40px;">
  <h1 style="text-align: center; margin-top: 20px;">Frequently Asked Questions</h1>

  <h2>What is masteryi?</h2>
  <p class="faq-text">Masteryi is a leaderboard of champion mastery for popular game league of legends. The aim of masteryi is to give you an accurate overview of who has the highest mastery for a specific champion.</p>

  <h2>How does it all work</h2>

  <p class="faq-text">Masteryi works by scanning every player in league of legends. After a user is found their champion mastery data is fetched. The data is then filtered down to champions with at least rank 5 mastery, all data that passes through this filter is then inserted into our internal database. This process is not quick and took about 3 weeks to scan the initial 320 million possible user id's.</p>

  <h2>What does masteryi offer over other champion mastery sites</h2>

  <p class="faq-text">Most champion mastery websites work by users manually entering their name. When a user enters their name a lookup is done for their current champion mastery and it is saved to a database for later searching. The problem with this approach is that you only have data for users that have entered there username. Masteryi solves this problem by scanning every user, which in turn means that our data is 100% accurate and no player with high champion mastery remains hidden</p>

  <h2>How can I support Masteryi?</h2>

  <p class="faq-text">Masteryi is and always will be free, but it costs money to host our large postgres database which contains over 50 million rows. You can help out by sharing masteryi with your friends and white listing us from your adblocker.</p>

  <h2>Is Masteryi open source?</h2>

  <p class="faq-text">Masteryi is 100% opensource, you can view the full source code for the website and the backend server on <a href="https://github.com/konk353535/masteryi">github</a>. Feel free to fork the repository or submit a PR!</p>

  <h2>What programming language(s) did you use?</h2>
  <p class="faq-text">Masteryi is a complete javascript project, Node.js is used on the back end to scan users champion data, along with postgres storing the data for later queries. The frontend is built using Ember.js as the primary javascript framework. Styling is done using Bootstrap.</p>

  <h2>How can i contact you?</h2>
  <p clas="faq-text">Send me a message anytime on reddit at <a href='https://www.reddit.com/user/konk353535/'>/u/konk353535</a></p>

</div>
