.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #2F4676;
}

.table > tbody > tr > td, .table > thead > tr > th {
  border: none;
}

.table > thead > tr > th {
  cursor: pointer;
}

.champion-icon {
  width: 20px;
  height: 20px;
}

